<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
    <% user.addresses.each do |address| %>
      <% if address.is_primary %>
        <li><%= address.name %></li>
      <% end %>
    <% end %>
  </p>

</div>
